VITE_FIREBASE_API_KEY= "AIzaSyBMbYFVDFPex1Dg2fIxiC6mPCXHDuCaT2s"
VITE_FIREBASE_AUTH_DOMAIN= "webdeploymentworkshop.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID= "webdeploymentworkshop"
VITE_FIREBASE_APP_ID= "1:288329000755:web:86f01113cf4a1ba1f98046"
FIREBASE_PROJECT_ID= 
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
COCKROACH_DATABASE_URL=
COCKROACH_CA_CERT=
MYSQL_DATABASE_URL=
MYSQL_CA_CERT=
PRIMARY_DB=
ALLOWED_ORIGINS=
